a {
    color: #1565c0;
    text-decoration: none;
    background-color: transparent;
}

a, h3.artical-title a:hover {
    color: #1565c0;
    text-decoration: none;
    transition: color .6s ease;
}

a:hover,a:focus {
    color: #1565c0
}

a:-webkit-any-link {
    cursor: pointer;
}

*,*::before,*::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "",sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: .5rem;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizelegibility;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem
}

h3 {
    font-weight: 700;
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.justify-content-center {
    justify-content: center !important;
}

.portrait-title {
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}

.portrait-title h2 {
    font-size: 1.75rem;
    font-weight: 300;
    color: black;
    margin: 20px 0 10px;
}

.portrait-title h3 {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, .54);
    margin: 0 0 10px;
}

.people-widget {
    font-size: .8rem;
    text-align: center;
    width: 20%;
}

.people-widget .portrait-title h2 {
    font-size: 1rem;
}

.people-widget .portrait-title h3 {
    font-size: .7rem;
}

.people-person {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 1rem !important;
    flex: none;
    max-width: 100%;
    display: block;
    unicode-bidi: isolate;
    font-weight: 400;
}

.avatar {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    object-fit: cover;
}

.people-widget .avatar {
    width: 80%;
    max-width: 150px;
    height: auto;
}

.avatar-circle {
    border-radius: 50%;
}

.img {
    display: block;
    vertical-align: middle;
    border-style: none;
    aspect-ratio: auto 270 / 270;
}

ul.network-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.fa {
    font-family: var(--fa-style-family,"Font Awesome 6 Free");
    font-weight: var(--fa-style,900)
}

.fa-solid, .fas {
    font-weight: 900;
}

.fa,.fa-brands,.fa-classic,.fa-regular,.fa-sharp,.fa-solid,.fab,.far,.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto
}

.fa-classic,.fa-regular,.fa-solid,.far,.fas {
    font-family: "font awesome 6 free";
}

.fa-brands,.fab {
    font-family: "font awesome 6 brands";
}

.fa-house:before {
    content: "\f015";
}